body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  margin: 30px 0;
  padding: 30px;
}
.fa-search {
  padding-right: 10px;
  font-size: xx-large;
}
.weather-forecast {
  text-align: center;
  padding: 60px 20px;
}
.city-title {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: -5px;
}
.date-time {
  font-size: 12px;
  padding-top: 3px;
}
.date-time,
.low-temp {
  font-weight: 250;
}
.current-weather-forecast {
  display: inline-block;
  text-align: center;
  padding: 5px 40px 40px;
}
.current-weather-description {
  display: inline-block;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.3em;
}
.current-temp {
  display: inline;
  font-size: 50px;
  margin: -10px 0 0 0;
}
#units {
  position: relative;
  top: -24px;
}
.seven-day-forecast {
  font-size: 15px;
  text-align: center;
}
.seven-day-forecast hr {
  width: 80%;
  margin-left: 10%;
}

.hi-temp {
  font-weight: 550;
}

.temp-unit {
  text-align: end;
  position: relative;
  right: -12px;
  bottom: -30px;
}
.temp-unit button:hover {
  cursor: pointer;
  color: white;
}
.caption {
  font-size: 12px;
  position: relative;
  bottom: -90px;
}
